<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-truetime" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-truetime</name>
    <js-module name="truetime" src="www/truetime.js">
        <clobbers target="cordova.plugins.truetime" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Truetime">
                <param name="android-package" value="com.vishnu.truetime.Truetime" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/Truetime.java" target-dir="src/com/vishnu/truetime/" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
